<footer>
  Our website shows the change in renewable energy around the world over time. We gathered our data from <a href="https://ourworldindata.org/renewable-energy"> Our World in Data.</a>
</footer>
